.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;

    &__alternative {
        margin: 25px auto 0 auto;
        padding: 10px 0 0 0;
        width: 250px;
        text-align: center;
        max-width: 100%;
    }

    &__alternativeTitle {
        display: block;
        padding: 0 0 10px 0;
    }
}

.loginBtnGoogle {
    border: 1px solid #ccc;
    border-radius: 3px;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: center;
    background: #fff;
    cursor: pointer;
    margin: 10px 0;

    i {
        font-style: normal;
        padding-left: 10px;
    }

    
}

.loginBtnFacebook {
    border: 1px solid #ccc;
    border-radius: 3px;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: center;
    background: #4267B2;
    cursor: pointer;
    color: #fff;
    margin: 10px 0;

    i {
        font-style: normal;
        padding-left: 10px;
    }
}