.topbar {
    background: #fcdfcf;
    min-height: 60px;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;

    &__colLeft {
        flex-grow: 3;
        
        ul {
            display: flex;

            li {
                margin: 0 5px;
                list-style: none;

                a {
                    color: cadetblue;
                }
            }
        }

    }

    &__colCenter {
        flex-grow: 6;
        display: flex;

        ul {
            display: flex;

            li {
                margin: 0 15px;
                list-style: none;

                a {
                    color: cadetblue;
                    font-weight: bold;
                }
            }
        }
    }

    &__colRight {
        flex-grow: 3;
    }
}