.write {
    padding: 15px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 25px;

    &__formGroup {
        margin: 15px 0 15px 45px;
        display: flex;
        align-items: center;
    }

    &__add {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 1px solid #000;
        align-items: center;
        justify-content: center;
        display: flex;
        cursor: pointer;
        margin: 0 15px 0 0;
    }

    &__text {
        border: 1px solid rgba(0, 0, 0, 0.1);
        font-size: 1.4rem;
        color: #333;
        outline: none;
        border-radius: 4px;
        padding: 10px 15px;
        width: 100%;
    }

    &__textArea {
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        font-size: 1.4rem;
        padding: 10px 15px;
        color: #333;
        outline: none;
        margin: 0 0 0 45px;
        flex-grow: 1;
    }

    &__submit {
        background-color: rgb(25, 118, 210);
        border: none;
        color: white;
        padding: 7px 26px;
        text-align: center;
        display: inline-block;
        font-size: 1.2rem;
        cursor: pointer;
        margin: 35px 0 0 45px;
    }

    &__pic {
        width: 100%;
        height: 450px;
        object-fit: cover;
    }

    &__formGroupRow {
        margin: 0 0 15px 45px;
    }
}
