@import '../../sass/variables';

.write {
    padding: 15px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 25px auto;
    width: 50%;

    @include breakpoint(md) {
        width: 100%;
    }

    &__formGroup {
        margin: 15px 0 15px 15px;
        display: flex;
        align-items: center;
    }

    &__add {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 1px solid #000;
        align-items: center;
        justify-content: center;
        display: flex;
        cursor: pointer;
        margin: 0 15px 0 0;
    }

    &__text {
        border: 1px solid rgba(0, 0, 0, 0.1);
        font-size: 1.4rem;
        color: #333;
        outline: none;
        border-radius: 4px;
        padding: 10px 15px;
        width: 100%;
    }

    &__textArea {
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        font-size: 1.4rem;
        padding: 10px 15px;
        color: #333;
        outline: none;
        margin: 0;
        flex-grow: 1;
    }

    &__submit {
        background-color: rgb(25, 118, 210);
        border: none;
        color: white;
        padding: 7px 26px;
        text-align: center;
        display: inline-block;
        font-size: 1.2rem;
        cursor: pointer;
        margin: 5px 0 0 15px;
    }

    &__pic {
        width: 100%;
        height: 450px;
        object-fit: cover;
    }

    &__formGroupRow {
        margin: 0 0 15px 15px;

        label {
            display: block;
            font-weight: bold;

            i {
                color: red;
            }
        }
    }

    &__formGroupRowError {
        color: red;
        font-size: 12px;
    }

    &__formGroupRowSelect {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            right: 15px;
            top: 22px;
            border: solid rgba(0, 0, 0, 0.4);
            border-width: 0 3px 3px 0;
            display: inline-block;
            padding: 3px;
            transform: rotate(45deg);
            pointer-events: none;
        }

        select {
            border: 1px solid rgba(0, 0, 0, 0.1);
            font-size: 1.4rem;
            color: #333;
            outline: none;
            border-radius: 4px;
            padding: 10px 15px;
            width: 100%;
            background: #fff;
            appearance: none;
        }
    }

    &__formGroupFile {
        width: 100%;

        input[type="file"] {
            display: none;
        }

        ul {
            margin: 0;
            padding: 20px 0;
            width: 100%;

            li {
                font-weight: bold;
                border: 1px dotted #ccc;
                padding: 5px;
                list-style: none;
                position: relative;
            }
        }
    }

    &__formGroupFileLabel {
        border: 1px solid #ccc;
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer;
    }

    &__formGroupFileDelete {
        position: absolute;
        right: 16px;
        top: 10px;
        width: 16px;
        height: 16px;
        opacity: 0.3;
        cursor: pointer;

        &:before, &:after {
            position: absolute;
            left: 15px;
            content: ' ';
            height: 17px;
            width: 2px;
            background-color: #333;
          }
          &:before {
            transform: rotate(45deg);
          }
          &:after {
            transform: rotate(-45deg);
          }
    }

    &__formGroupRowPrice {
        display: flex;
        align-items: center;

        input {
            max-width: 300px;
        }

        span {
            padding: 15px;
            font-size: 1.5rem;
            font-weight: normal;
        }
    }
}
