

.singlePost {
    width: 70%;
    border: 1px solid rgb(229, 232, 236);
    border-radius: 10px;
    background: #fff;
    margin: 15px 20px 0 20px;

    &__inner {
        padding: 15px;
    }

    &__pic {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

    &__title {
        padding: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__titleInput {
        width: 100%;
        text-align: center;
        border: 0;
        border-bottom: 1px solid lightgray;
        font-weight: bold;
        font-size: 24px;
        color: gray;

        &:focus {
            outline: none;
        }
    }

    &__textArea {
        width: 100%;
        border: 0;
        border-bottom: 1px solid lightgray;
        font-size: 15px;
        color: gray;

        &:focus {
            outline: none;
        }
    }

    &__btn {
        border: 0;
        padding: 7px;
        background: teal;
        width: 100px;
        color: #fff;
        border-radius: 5px;
        cursor: pointer;
        margin: 20px 0 0 0;
    }

    &__action {


        span {
            margin: 0 10px;
            i {
                font-size: 1.4rem;
                cursor: pointer;
                
            }
        }
    }

    &__edit {
        i {
            color: green;
        }
    }

    &__delete {
        i {
            color: red;
        }
    }

    &__info {
        padding: 5px;

        span {
            padding: 0 10px; 

            i {
                font-style: normal;
                font-weight: bold;
            }
        }

    }

    &__text {
        padding: 15px;

        p {
            font-size: 1.8rem;
            color: #333;
        }
    }

    &__row {
        display: flex;
        border-bottom: 1px dotted #333;
        padding: 15px;

        label {
            width: 150px;
        }
    }

    &__slider {
        position: relative;
        width: 100%;
        padding: 0 25px;

        img {
            width: 100%;
            height: auto;
        }

        button {
            background: #000;
            border-radius: 50%;    

            &:hover {
                background: #ccc;
            }
        }

       

    }

}