@import '../../sass/variables';

.singlePost {
    width: 50%;
    border: 1px solid rgb(229, 232, 236);
    border-radius: 10px;
    background: #fff;
    margin: 25px auto;

    @include breakpoint(md) {
        width: 100%;
    }

    &__inner {
        padding: 15px;
    }

    &__pic {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

    &__title {
        padding: 15px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1 {
            padding: 0 20px;
        }
    }

    &__titleInput {
        width: 100%;
        text-align: center;
        border: 0;
        border-bottom: 1px solid lightgray;
        font-weight: bold;
        font-size: 24px;
        color: gray;

        &:focus {
            outline: none;
        }
    }

    &__textArea {
        width: 100%;
        border: 0;
        border-bottom: 1px solid lightgray;
        font-size: 15px;
        color: gray;
        white-space: pre-wrap;
        min-height: 300px;

        &:focus {
            outline: none;
        }
    }

    &__btn {
        border: 0;
        padding: 7px;
        background: teal;
        width: 100px;
        color: #fff;
        border-radius: 5px;
        cursor: pointer;
        margin: 20px 0 0 0;
    }

    &__action {


        span {
            margin: 0 10px;
            i {
                font-size: 1.4rem;
                cursor: pointer;
                
            }
        }
    }

    &__edit {
        i {
            color: green;
        }
    }

    &__delete {
        i {
            color: red;
        }
    }

    &__info {
        padding: 10px 5px;

        span {
            padding: 0 10px; 

            i {
                font-style: normal;
                font-weight: bold;
            }
        }

    }

    &__text {
        padding: 15px 0;

        p {
            font-size: 1.8rem;
            color: #333;
        }
    }

    &__row {
        display: flex;
        border-bottom: 1px dotted #ccc;
        padding: 15px;

        label {
            width: 250px;
            font-weight: bold;
        }
    }

    &__rowFirst {
        border-bottom: 1px dotted #ccc;
        padding: 15px;

        label {
            font-weight: bold;
        }
    }

    &__slider {
        position: relative;
        width: 100%;
        padding: 0 25px;

        img {
            width: 100%;
            height: auto;
        }

        button {
            background: #000;
            border-radius: 50%;    

            &:hover {
                background: #ccc;
            }
        }

    }

    &__authot {
        a {
            color: #007FFF;
        }
    }

    &__date {
        border-left: 1px dotted #ccc;
    }

    &__deleteModel {
        position: absolute;
        right: 16px;
        top: 10px;
        width: 16px;
        height: 16px;
        opacity: 0.3;
        cursor: pointer;

        &:before, &:after {
            position: absolute;
            left: 15px;
            content: ' ';
            height: 17px;
            width: 2px;
            background-color: #333;
          }
          &:before {
            transform: rotate(45deg);
          }
          &:after {
            transform: rotate(-45deg);
          }
    }

    &__model {
        display: flex;
        position: relative;
        padding: 15px;
        border-bottom: 1px dotted #ccc;

        img {
            flex-basis: 100px;
            height: 100px;
            object-fit: cover;
            min-width: 0;
        }
    }

    &__formGroupFile {
        margin: 25px 0 0 0;
        width: 100%;

        input[type="file"] {
            display: none;
        }

        ul {
            margin: 0;
            padding: 20px 0;
            width: 100%;

            li {
                font-weight: bold;
                border: 1px dotted #ccc;
                padding: 5px;
                list-style: none;
                position: relative;
            }
        }
    }

    &__formGroupFileLabel {
        border: 1px solid #ccc;
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer;
    }

    .myPosts {
        background: none;
        border: 0;
        color:  #007FFF;
        font-weight: bold;
        text-decoration: underline;
        cursor: pointer;
    }

}