@import '../../sass/variables';
.sidebar {
    width: 30%;
    margin: 15px 15px 0 0;
    background: linear-gradient(to right, #007FFF, #0059B2);
    border-radius: 4px;
    padding: 20px;

    @include breakpoint(md) {
        width: 100%;
        order: 0;
        margin: 0 0 25px 0;
    }

    &__Row {
        margin: 0 0 15px 0;

        label {
            color: #fff;
            padding: 0 0 5px 0;
            display: block;
        }
    }

    &__clear {
        cursor: pointer;
        background-color: #e7e7e7;
        border: none;
        color: black;
        padding: 10px 24px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 15px;

        i {
            font-size: 12px;
            margin-left: 5px;
        }

    }

    &__submit {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 10px 24px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 15px;
        cursor: pointer;
    }

    &__RowBottom {
        display: flex;
        justify-content: space-between;
    }

    &__RowSelect {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            right: 15px;
            top: 12px;
            border: solid rgba(0, 0, 0, 0.4);
            border-width: 0 3px 3px 0;
            display: inline-block;
            padding: 3px;
            transform: rotate(45deg);
            pointer-events: none;
        }

        select {
            border: 1px solid rgba(0, 0, 0, 0.1);
            font-size: 1.2rem;
            color: #333;
            outline: none;
            border-radius: 4px;
            padding: 3px 15px;
            width: 100%;
            background: #fff;
            appearance: none;
        }
    }

    &__RowBox {
        
    }

    &__RowBoxContainer {
        display: grid;
        grid-template-columns: 35px 1fr;
        gap: 15px;
        margin: 0 0 5px 0;
        align-items: center;
    }

    &__RowBoxTitle {
        color: #fff;
    }
}

