.sidebar {
    width: 30%;
    margin: 15px 15px 0 0;
    background: linear-gradient(to right, #007FFF, #0059B2);
    border-radius: 4px;
    padding: 20px;

    &__Row {
        margin: 0 0 15px 0;

        label {
            color: #fff;
        }
    }
}

